@model BancoSangue.Models.Doacao

@{
    ViewBag.Title = "Create";
}

<h2>Details</h2>
<div>

    <h4>Doacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroVagas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroVagas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeResponsavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeResponsavel)
        </dd>

    </dl>
   @*@Html.ActionLink("Imagem","Doacoes","Criacao de Imagem")
    {
    <img src="caminho imagem" alt="Exemplo!" title="titulo da imagem" align="middle">
    }
    */*@
    @foreach (var i in Model.imagem)
    {
        <img src="@i.caminho" alt="@i.Legenda"  align="middle">
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
