@model BancoSangue.Models.Doacao

@{
    ViewBag.Title = "Create";
}

<div class="row">

    <div class="col-xs-12 caixa">

        <div class="col-xs-12">
            <h1>@Model.Titulo</h1>
            <hr />
            <h2>@Model.Descricao</h2>
            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.DataInicio, htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.DisplayFor(model => model.DataInicio, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.DataFim, htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.DisplayFor(model => model.DataFim, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="form-group">
                    @Html.LabelFor(model => model.NumeroVagas, htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.DisplayFor(model => model.NumeroVagas, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

            </div>

        </div>
        <div class="col-xs-12">
            <hr />
        </div>

        @*@Html.ActionLink("Imagem","Doacoes","Criacao de Imagem")
            {
            <img src="caminho imagem" alt="Exemplo!" title="titulo da imagem" align="middle">
            }
            */*@
        <div class="col-xs-12">
            @foreach (var i in Model.imagem)
            {
                <div class="col-md-4">

                    <img src="~/Content/@i.caminho" alt="@i.Legenda" align="middle" class="img-responsive">

                    <p>@i.Legenda</p>

                </div>}
            
    
        </div>
        <div>
            input 
        </div>
    </div>
</div>
