@model BancoSangue.Models.Doacao

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da campanha</h2>

<div>
    <dl class="dl-horizontal caixa ">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroVagas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroVagas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeResponsavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeResponsavel)
        </dd>
        <br/>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Voltar para a lista", "Index", null, new { @class = "btn btn-primary" })
        </p>

    </dl>

</div>
