@model BancoSangue.Models.Doacao

@{
    ViewBag.Title = "Edit";
}

<h2>Altere os campos e salve novamente.</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal caixa3 ">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataInicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataFim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataFim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataFim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroVagas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroVagas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroVagas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomeResponsavel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeResponsavel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomeResponsavel, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="LocalImagens">

        </div>
        <input type="file" id="AdicionaImagem" value="Enviar" name="Imagens" multiple />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

}
<div hidden id="baseImagemCarrossel">
    <div class="col-xs-12 col-sm-6 selecionar">
        <div class="col-xs-12">
            <img width="100%" />
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 imgLegenda" for="Legenda">Legenda:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line imgLegendaTexto" id="Legenda" name="Legenda" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 imgInfo" for="Infomações">Informações:</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line imgInfoTexto" name="Infomações" type="text" readonly>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Voltar para a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        "use strict"


        window.URL = window.URL || window.webkitURL;



        $(document).on("change", "#AdicionaImagem", function () {
            var files = this.files;
            // Let's create an empty `errors` String to collect eventual errors into:
            var errors = "";

            if (!files) {
                errors += "File upload not supported by your browser.";
            }

            var raia = "#LocalImagens";
            // Check for `files` (FileList) support and if contains at least one file:
            if (files && files[0]) {

                var j = 0;

                // Iterate over every File object in the FileList array
                for (var i = 0; i < files.length; i++) {

                    // Let's refer to the current File as a `file` variable
                    // https://developer.mozilla.org/en-US/docs/Web/API/File
                    var file = files[i];

                    // Test the `file.name` for a valid image extension:
                    // (pipe `|` delimit more image extensions)
                    // The regex can also be expressed like: /\.(png|jpe?g|gif)$/i
                    if ((/\.(png|jpeg|jpg|gif)$/i).test(file.name)) {
                        // SUCCESS! It's an image!
                        // Send our image `file` to our `readImage` function!
                        readImage(file, raia, j++);
                    } else {
                        errors += file.name + " Unsupported Image extension\n";
                    }
                }
            }

            // Notify the user for any errors (i.e: try uploading a .txt file)
            if (errors) {
                alert(errors);
            }
        });


        var elBrowse = document.getElementById("browse"),
            useBlob = false && window.URL; // `true` to use Blob instead of Data-URL


        // 2.
        function readImage(file, raia, posicao) {

            // 2.1
            // Create a new FileReader instance
            // https://developer.mozilla.org/en/docs/Web/API/FileReader
            var reader = new FileReader();

            var elPreview = $(raia);

            elPreview.empty();

            // 2.3
            // Once a file is successfully readed:
            reader.addEventListener("load", function () {

                // At this point `reader.result` contains already the Base64 Data-URL
                // and we've could immediately show an image using
                // `elPreview.insertAdjacentHTML("beforeend", "<img src='"+ reader.result +"'>");`
                // But we want to get that image's width and height px values!
                // Since the File Object does not hold the size of an image
                // we need to create a new image and assign it's src, so when
                // the image is loaded we can calculate it's width and height:
                var image = new Image();
                image.addEventListener("load", function () {


                    var index = elPreview.data("index");

                    var imageInfo = $($("#baseImagemCarrossel").html());

                    var legenda = file.name;
                    legenda = legenda.substring(0, legenda.length - 4)
                    imageInfo.find("img").attr("src", this.src);
                    imageInfo.find(".imgInfoTexto").val(
                                    file.name + ' ' +
                                    image.width + '×' +
                                    image.height + ' ' +
                                    file.type + ' ' +
                                    Math.round(file.size / 1024) + 'KB');
                    imageInfo.find(".imgLegendaTexto").attr("name", 'Imagem[' + posicao + '].Legenda').val(legenda);

                    imageInfo.append('<input name="Imagem.Index" type="hidden" value="' + posicao + '">');
                    imageInfo.append('<input name="Imagem[' + posicao + '].Caminho" id="Itens[' + index + '].Imagem[' + posicao + '].Caminho" type="hidden" value="' + file.name  + '">');
                    imageInfo.append('<input name="Imagem[' + posicao + '].Src" id="Itens[' + index + '].Imagem[' + posicao + '].Src" type="hidden" value="' + this.src + '">');
                    // Finally append our created image and the HTML info string to our `#preview`
                    elPreview.append(imageInfo);
                });

                image.src = useBlob ? window.URL.createObjectURL(file) : reader.result;

                // If we set the variable `useBlob` to true:
                // (Data-URLs can end up being really large
                // `src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAA...........etc`
                // Blobs are usually faster and the image src will hold a shorter blob name
                // src="blob:http%3A//example.com/2a303acf-c34c-4d0a-85d4-2136eef7d723"
                if (useBlob) {
                    // Free some memory for optimal performance
                    window.URL.revokeObjectURL(file);
                }
            });

            // 2.2
            // https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL
            reader.readAsDataURL(file);

        }

    </script>

}
